<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    
<meta name="description" content="{{_:Meta_Desc}}">    
<meta name="keywords" content="{{_:Meta_Tags}}">    
<meta property="og:title" content="{{_:Meta_Title}}" />
<meta property="og:description" content="{{_:Meta_Desc}}" />    
<meta property="og:image" content="{{_:Image}}"/>    
	
<title>{{_:Title}}</title>
    
</head>
<body>
