<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimal-ui">
  <meta name="description" content="{{%:meta-desc}}">
  <meta name="author" content="{{%:author}}">
  <title>{{%:page-title}}</title>
  <link rel="stylesheet" href="/{{%:assets-route}}/css/style.css" />
</head>
<body>
<header>
  <div class="page-wrap">
    <div class="logo">
      <a href="/">
        <img src="/{{%:assets-route}}/img/{{%:logo}}" title="{{%:meta-desc-short}}" alt="{{%:author}}" />
      </a>
    </div>
    <div class="menu">
      <nav>
        {{%:nav:main-nav}}
      </nav>
    </div>
  </div>
</header>


<style>

/* ---------------------------------------------------------------- */
/* Reset -- //
/* ---------------------------------------------------------------- */
* {
  margin:0;
}
a {
  text-decoration:none;
}
.hide {
  display:none;
}

/* ---------------------------------------------------------------- */
/* Stylesheet -- //
/* ---------------------------------------------------------------- */
body,html {
  margin:0 auto;
  font-family:sans-serif;
}

<style>
